__pycache__
*.egg-info/
*.mp4
*output
build/
trossen_ai_data/
output_csvs/
data/
.mypy_cache/
.ruff_cache
**/dual_arm_recording*/
*.mkv

# Old file 
trossen_arm_mujoco/scripts/replay_episode_telop.pytrossen_arm_mujoco/scripts/replay_episode_telop.py
